
<div class="col-lg-4">
    <div class="product-offer mb-30" style="height: 200px;">
        <img class="img-fluid" src="https://i.pinimg.com/736x/2b/5b/83/2b5b836292e1211c65011aa2a17fdbe9.jpg" alt="">
        <div class="offer-text">
            <h6 class="text-white text-uppercase">İndirim 20%</h6>
            <h3 class="text-white mb-3">Özel Teklifler</h3>
            <a href="" class="btn btn-primary">Alışverişe Başlayın</a>
        </div>
    </div>
    <div class="product-offer mb-30" style="height: 200px;">
        <img class="img-fluid" src="https://i.pinimg.com/1200x/32/8f/ad/328fad35a3a0e130d2e26f8c356f49f3.jpg" alt="">
        <div class="offer-text">
            <h6 class="text-white text-uppercase">İndirim 30%</h6>
            <h3 class="text-white mb-3">Günün Fırsatı</h3>
            <a href="" class="btn btn-primary">Hemen Yararlanın</a>
        </div>
    </div>
</div>