
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">  

@await Component.InvokeAsync("_AdminLayoutHeadComponentPartial")

<body class="sidebar-mini">
<div class="wrapper"> 
  
  <!-- Main Header -->
  @await Component.InvokeAsync("_AdminLayoutHeaderComponentPartial")
  <!-- Left side column. contains the logo and sidebar -->
  @await Component.InvokeAsync("_AdminLayoutSidebarComponentPartial")
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper"> 
    <!-- Content Header (Page header) -->
    @await Component.InvokeAsync("_AdminLayoutMainSectionViewbagComponentPartial")
    
    <!-- Main content -->
    @RenderBody()
    <!-- content --> 
  </div>
  <!-- content-wrapper --> 
  
  <!-- Main Footer -->
  @await Component.InvokeAsync("_AdminLayoutFooterComponentPartial")
</div>
<!-- wrapper --> 

<!-- jQuery --> 
@await Component.InvokeAsync("_AdminLayoutScriptComponentPartial")
</body>
</html>